body{
    font-family: 'Roboto', sans-serif;
    max-width: 900px;
    margin: auto;
}
nav li{ 
    list-style-type: none;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
nav ol{
display: flex;
  justify-content: space-between;
  width: 125px;
}