body{
    max-width: 1440px;
    margin: auto;
    font-family:'Roboto';sans-serif;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style-type: none;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav{
    width: 200px;
}