body{
    max-width: 1440px;
    margin: auto;
    font-family:'Roboto';sans-serif;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style-type: none;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav{
    width: 200px;
}

.banniere img{
    width: 250Px;
    height: 75px;
    object-fit:cover;

}
.banniere{
    
    height: 415px;
    background-image:url("Images/backgroung_image.jpg");
    background-size: contain;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}    
.organigramme{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.icones{
    display: flex;
    justify-content: center;
    margin: auto;

}
.graphisme{
    
    display: block;
}
.basdepage{
    display: flex;
    
}
.adresse{
    list-style-type: none;
}
footer{
    color: white;
    background-color: blueviolet;

}
.organigramme h1    {
    text-transform: uppercase;
}
